@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

//colors
$background: #fcf8f3;
$display: #ffebb7;
$buttons: #eff1f4;
$delete: #ef3434;

//measures
$btn_side: 15vw;
$btn_side_desktop: 60px;

$switch_height: calc($btn_side * 2 / 3);
$switch_height_desktop: calc($btn_side_desktop * 2 / 3);

$btn_border: 2vw;
$btn_border_desktop: 6px;

$btn_reset_height: calc($btn_side / 3);
$btn_reset_height_desktop: calc($btn_side_desktop / 3);

$counter_container_width: 98vw;
$counter_container_width_desktop: 400px;

$btn_space: calc($btn_side * 2 / 3);
$btn_space_desktop: calc($btn_side_desktop * 2 / 3);

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 40
}

.counter-container, .counter-container > * {
  margin-right: auto;
  margin-left: auto;
}

.counter-container {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: $counter_container_width;

  @media (min-width: 450px) {
    width: $counter_container_width_desktop;
  }
}

.btn-plus, .btn-minus, .digit {
  width: $btn_side;
  height: $btn_side;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;

  @media (min-width: 450px) {
    width: $btn_side_desktop;
    height: $btn_side_desktop;
  }
}

.btn-plus, .btn-minus {
  font-size: calc($btn_side * 2 / 3);
  @media (min-width: 450px) {
    font-size: calc($btn_side_desktop * 2 / 3);
  }
}

.display {
  display: flex;
  flex-direction: row-reverse;

  #units, #tens, #hundreds, #thousands {
    position: relative;
  }

  .pop_up {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: calc($btn_side * (1 / 4));
    font-size: calc($btn_side / 2);
    line-height: calc($btn_side / 2);

    @media (min-width: 450px) {
      left: calc($btn_side_desktop * (1 / 4));
      font-size: calc($btn_side_desktop / 2);
      line-height: calc($btn_side_desktop / 2);
    }
  }

  .pop_up.minus {
    bottom: calc($btn_side / -2);
    color: red;
    transition: opacity 0.01s cubic-bezier(0.25, 1, 0.5, 1), bottom 0.2s ease-in;

    @media (min-width: 450px) {
      bottom: calc($btn_side_desktop / -2);
    }
  }

  .pop_up.plus {
    top: calc($btn_side / -2);
    color: green;
    transition: opacity 0.01s cubic-bezier(0.25, 1, 0.5, 1), top 0.2s ease-in;

    @media (min-width: 450px) {
      top: calc($btn_side_desktop / -2);
    }
  }

  .digit {
    position: relative;
    overflow: hidden;
    font-size: $btn_side;
    line-height: $btn_side;
    font-weight: bolder;
    background: $display;
    border: $background solid 2px;
    border-radius: 11px;

    @media (min-width: 450px) {
      font-size: $btn_side_desktop;
      line-height: $btn_side_desktop;
    }

    @media (min-width: 600px) {
      border-radius: 10px;
    }

    span {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: top 0.3s ease-in-out;
    }

    span:nth-child(1) {
      top: 0em;
    }

    span:nth-child(2) {
      top: 1em;
    }

    span:nth-child(3) {
      top: 2em;
    }

    span:nth-child(4) {
      top: 3em;
    }

    span:nth-child(5) {
      top: 4em;
    }

    span:nth-child(6) {
      top: 5em;
    }

    span:nth-child(7) {
      top: 6em;
    }

    span:nth-child(8) {
      top: 7em;
    }

    span:nth-child(9) {
      top: 8em;
    }

    span:nth-child(10) {
      top: 9em;
    }
  }

  .digitBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $btn_side;
    height: $switch_height;
    border-radius: 11px;
    background: $delete;

    @media (min-width: 450px) {
      width: $btn_side_desktop;
      height: $switch_height_desktop;
      border-radius: 18px;
    }
  }

  .digitBtn.on {
    background: green;
  }
}

.frame {
  position: absolute;
  left: calc($btn_side/2) - calc($btn-border / 2);
  top: calc($btn_border + ($btn_reset_height + $btn_border) / 2);
  border: black solid $btn_border;
  border-radius: 25px;
  width: $counter_container_width - $btn_side + $btn_border;
  height: calc($btn_space * 2) +
          calc($btn_border * 4) +
          $btn_reset_height +
          $btn_side +
          $switch_height;
  z-index: -1;

  @media (min-width: 450px) {
    left: calc($btn_side_desktop/2) - calc($btn_border_desktop/2);
    top: ($btn_border_desktop + calc(($btn_reset_height_desktop + $btn_border_desktop)/2));
    border: black solid $btn_border_desktop;
    border-radius: 25px;
    width: $counter_container_width_desktop - $btn_side_desktop + $btn_border_desktop;
    height: calc($btn_space_desktop * 2) +
            calc($btn_border_desktop * 4) +
            $btn_reset_height_desktop +
            $btn_side_desktop +
            $switch_height_desktop;
  }
}

button {
  border: $background solid $btn_border;
  cursor: pointer;

  @media (min-width: 450px) {
    border: $background solid $btn_border_desktop;
  }
}

.display-container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  margin-top: $btn_space;
  margin-bottom: $btn_space;

  @media (min-width: 450px) {
    margin-top: $btn_space_desktop;
    margin-bottom: $btn_space_desktop;
  }
}

.btn-reset, .btn-save {
  font-family: Tahoma;
  font-size: $btn_reset_height;
  padding: 3px 6px;

  @media (min-width: 450px) {
    font-size: $btn_reset_height_desktop;
  }
}

//save log
.log_registry {
  border: black solid $btn_border;
  border-radius: 25px;
  padding: 5px 0;
  margin-top: 10px;
  width: $counter_container_width - $btn_side + $btn_border;
  max-height: 51vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 450px) {
    max-height: 49vh;
    left: calc($btn_side_desktop/2) - calc($btn_border_desktop/2);
    border: black solid $btn_border_desktop;
    border-radius: 25px;
    width: $counter_container_width_desktop - $btn_side_desktop + $btn_border_desktop;
  }
}

.log, .egg1, .egg2 {
  border: #fcf8f3 solid 3.5px;
  border-radius: 25px;
}

.egg1, .egg2 {
    max-width: 100%;
}

.log {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $buttons;

  .display_log {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
  }

  .digit_small {
    width: calc($btn_side / 2);
    height: calc($btn_side / 2);
    text-align: center;
    font-size: calc($btn_side / 2);
    font-weight: bolder;
    background: $display;
    border: $background solid 1px;
    border-radius: 8px;

    @media (min-width: 450px) {
      width: 28px;
      height: 28px;
      font-size: 28px;
    }

  }

  .date_time {
    align-self: center;
    display: grid;
    row-gap: 3px;

    img {
      display: none;

      @media (min-width: 400px) {
        display: unset;
      }
    }

    div {
      margin: 2px 0;
    }

    span {
      background-color: $display;
      padding: 0 3px;
      border-radius: 25%;
    }
  }

  .deleteMe {
    padding-right: 5px;
    font-family: 'Concert One', cursive;
    background-color: transparent;
    color: black;
    font-size: 40px;
    height: 100%;
    width: 40px;
    line-height: inherit;
    border-radius: 0 25px 25px 0;
    text-align: center;

    p {
      margin: 0;
    }

    &:hover {
      background-color: $delete;
      color: $buttons;
      cursor: pointer;
    }
  }
}


//animations
.pop_up.plus.fade-in {
  opacity: 0.6;
  top: calc($btn_side * -1);

  @media (min-width: 400px) {
    top: calc($btn_side_desktop * -1);
  }
}

.pop_up.minus.fade-in {
  opacity: 0.6;
  bottom: calc($btn_side * -1);

  @media (min-width: 400px) {
    bottom: calc($btn_side_desktop * -1);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

.shrink {
  animation: shrink;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes expand {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.expand {
  animation: expand;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
